@model IEnumerable<RemindYoSelf.Models.TaskViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<style>
    #namas, #namas2{
        color:white;
    }
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr id="namas">
            <th>
                @Html.DisplayNameFor(model => model.TaskTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="namas2">
          <td>
                @Html.DisplayFor(modelItem => item.TaskTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tasks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
            </td>
        </tr>
}
       
    </tbody>
</table>
