@model IEnumerable<RemindYoSelf.Models.TaskViewModel>

@{
    ViewData["Title"] = "TodayTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        #namas, #namas2 {
            color: black;
        }
    </style>
<h1 style="font-family:Jokerman">Today's Task</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-success"> <i class="fa fa-plus" aria-hidden="true"></i> Create New</a>
</p>

<table id="tableData" class="table">
    <thead>
        <tr id="namas">
            <th>
                Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDue)
            </th>
            <th>
                Catagory
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="namas2">
                <td>
                    @Html.DisplayFor(modelItem => item.TaskTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tasks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskTypeName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TaskId" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.TaskId"> <i class="fa fa-info" aria-hidden="true"></i> Details</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.TaskId" onclick="return confirm('Are you sure you want to delete this record?')"> <i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
